%section#main-content
  %section.wrapper.site-min-height
    %h3
      %i.fa.fa-angle-right
      = image_tag(@instauser.profile_picture, { :class => "img-circle", :width => 35 })
      = "#{@instauser.full_name} - #{@instauser.username}"
    .posts
      = render :partial => "shared/instaposts", :locals => { :posts => @posts }
      %hr.load-more-posts-hr
      = link_to 'Load More Posts', instauser_path(:id => params[:id], :postid => @posts.last.id), :class => 'load-more-posts btn btn-default btn-lg', :remote => true