- if !(users.nil?)
  - users.each_slice(3) do |chunk|
    .row.mt
      - chunk.each do |follower|
        .col-lg-4.col-md-4.col-sm-4.mb
          .white-panel.pn
            .white-header
              %h5
                = link_to follower.username, instauser_path(follower.id)
            %p
              = link_to image_tag(follower.profile_picture, { :class => "img-circle", :width => 60 }), instagram_profile_path(current_user.identity.uid), {:target => "_blank"}
            %p
              %b= "#{follower.full_name}"
            .row
              .col-md-12
                %p.small.mt= "BIO"
                %p= "#{follower.bio.truncate(50)}"